.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00060eee;
    z-index: 9999;
    pointer-events: auto;
}

.popup-box {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 3px 10px var(--secondary-shadow);
    overflow-y: scroll;
}

.skill-header {
    color: var(--primary-color);
    margin-top: 8px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.skill-set-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.skill-set {
    flex: 0 0 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-btn {
    float: right;
    border: 0;
    cursor: url('https://img.icons8.com/neon/32/finger-and-thumb.png'), pointer;
}



@media (max-width: 1024px) {
    .popup-box {
        width: 90%;
    }
}